#!/bin/bash

tmpdir='/tmp/LogicGBExtraContent'
python download-content.py -p XX_PRODUCT_XX install -o ${tmpdir}
    
if [ $? -eq 0 ]
then
    echo "Installed extra content for XX_PRODUCT_XX"
    rm -r ${tmpdir}
    exit 0
else
    echo "Install failed"
    exit 1
fi
